<main *ngIf="post" class="flex flex-col items-center">
  <section class="md:w-2/3 lg:w-6/12 p-6 mb-6">
    <h1 class="text-3xl">{{ post.title }}</h1>
    <article>
      <time class="text-gray-400">{{ post.createdAt | date }}</time>
      <!-- if text else image -->
      <p class="mt-4">{{ post.text }}</p>
      <!-- <img src="{{ post.image }}" alt=""> -->
    </article>
  </section>
  <section class="w-10/12 md:w-3/4 lg:w-5/12">
    <app-comments></app-comments>
    <app-comment-form></app-comment-form>
  </section>
</main>
