<main *ngIf="post" class="flex flex-col items-center">
  <section class="md:w-2/3 lg:w-6/12 p-6 mb-6">
    <h1 class="text-3xl">{{ post.title }}</h1>
    <article>
      <time class="text-gray-400">{{ post.createdAt | date }}</time>
      <p *ngIf="post.text" class="mt-4">{{ post.text }}</p>
      <img
        *ngIf="post.image"
        class="mx-auto my-4"
        src="{{ post.image }}"
        alt="image de post"
      />
    </article>
  </section>
  <section class="w-10/12 md:w-3/4 lg:w-5/12">
    <app-comment-form></app-comment-form>
    <app-comments [postId]="postId"></app-comments>
  </section>
</main>
