<main class="flex justify-center">
  <section
    class="
      flex flex-col
      items-center
      xl:w-3/5
      md:m-8 md:p-8
      mx-auto
      m-2
      px-2
      py-4
      border
      rounded-xl
    "
  >
    <h1 class="mb-4 p-4 text-3xl font-bold">
      Administration des <span class="text-blue-700">Posts</span>
    </h1>
    <table class="table-auto overflow-auto">
      <thead>
        <tr>
          <th class="px-4 text-left text-xl"># Id</th>
          <th class="px-4 text-left text-xl">Titre</th>
          <th class="px-4 text-left text-xl">Auteur</th>
          <th class="px-4 text-left text-xl">Crée le</th>
          <th class="px-4 text-left text-xl">Nb Coms</th>
          <th class="px-4 text-left text-xl">Modéré</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let post of posts">
          <!-- ID du post + LIEN vers le post -->
          <td class="px-4 py-2">
            <ng-template #postId>
              {{ post.id }}
            </ng-template>
            <!-- If IMAGE redirect to posts/text:id -->
            <a
              *ngIf="post.image != null"
              [routerLink]="['/posts/image/', post.id]"
              class="inline-flex justify-between items-center"
              title="Voir le post"
            >
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="14px"
                height="14px"
                viewBox="0 0 457.03 457.03"
                class="mr-1 text-blue-600 font-bold fill-current"
              >
                <g>
                  <path
                    d="M421.512,207.074l-85.795,85.767c-47.352,47.38-124.169,47.38-171.529,0c-7.46-7.439-13.296-15.821-18.421-24.465
		l39.864-39.861c1.895-1.911,4.235-3.006,6.471-4.296c2.756,9.416,7.567,18.33,14.972,25.736c23.648,23.667,62.128,23.634,85.762,0
		l85.768-85.765c23.666-23.664,23.666-62.135,0-85.781c-23.635-23.646-62.105-23.646-85.768,0l-30.499,30.532
		c-24.75-9.637-51.415-12.228-77.373-8.424l64.991-64.989c47.38-47.371,124.177-47.371,171.557,0
		C468.869,82.897,468.869,159.706,421.512,207.074z M194.708,348.104l-30.521,30.532c-23.646,23.634-62.128,23.634-85.778,0
		c-23.648-23.667-23.648-62.138,0-85.795l85.778-85.767c23.665-23.662,62.121-23.662,85.767,0
		c7.388,7.39,12.204,16.302,14.986,25.706c2.249-1.307,4.56-2.369,6.454-4.266l39.861-39.845
		c-5.092-8.678-10.958-17.03-18.421-24.477c-47.348-47.371-124.172-47.371-171.543,0L35.526,249.96
		c-47.366,47.385-47.366,124.172,0,171.553c47.371,47.356,124.177,47.356,171.547,0l65.008-65.003
		C246.109,360.336,219.437,357.723,194.708,348.104z"
                  />
                </g>
              </svg>
              <ng-container *ngTemplateOutlet="postId"></ng-container>
            </a>
            <!-- If TEXT redirect to posts/text:id -->
            <a
              *ngIf="post.text != null"
              [routerLink]="['/posts/text/', post.id]"
              class="inline-flex justify-between items-center"
              title="Voir le post"
            >
              <svg
                version="1.1"
                id="Capa_1"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                x="0px"
                y="0px"
                width="14px"
                height="14px"
                viewBox="0 0 457.03 457.03"
                class="mr-1 text-blue-600 font-bold fill-current"
              >
                <g>
                  <path
                    d="M421.512,207.074l-85.795,85.767c-47.352,47.38-124.169,47.38-171.529,0c-7.46-7.439-13.296-15.821-18.421-24.465
		l39.864-39.861c1.895-1.911,4.235-3.006,6.471-4.296c2.756,9.416,7.567,18.33,14.972,25.736c23.648,23.667,62.128,23.634,85.762,0
		l85.768-85.765c23.666-23.664,23.666-62.135,0-85.781c-23.635-23.646-62.105-23.646-85.768,0l-30.499,30.532
		c-24.75-9.637-51.415-12.228-77.373-8.424l64.991-64.989c47.38-47.371,124.177-47.371,171.557,0
		C468.869,82.897,468.869,159.706,421.512,207.074z M194.708,348.104l-30.521,30.532c-23.646,23.634-62.128,23.634-85.778,0
		c-23.648-23.667-23.648-62.138,0-85.795l85.778-85.767c23.665-23.662,62.121-23.662,85.767,0
		c7.388,7.39,12.204,16.302,14.986,25.706c2.249-1.307,4.56-2.369,6.454-4.266l39.861-39.845
		c-5.092-8.678-10.958-17.03-18.421-24.477c-47.348-47.371-124.172-47.371-171.543,0L35.526,249.96
		c-47.366,47.385-47.366,124.172,0,171.553c47.371,47.356,124.177,47.356,171.547,0l65.008-65.003
		C246.109,360.336,219.437,357.723,194.708,348.104z"
                  />
                </g>
              </svg>
              <ng-container *ngTemplateOutlet="postId"></ng-container>
            </a>
          </td>
          <!-- TITRE + LIEN vers admin des commentaires ( SI il y en a ) -->
          <td class="px-4 py-2">
            <ng-template #postTitle>
              {{ post.title | slice: 0:60 }}
              <span *ngIf="post.title.length > 60">...</span>
            </ng-template>
            <!-- If TEXT posts routelink to admin/text/:id -->
            <a
              *ngIf="post.text != null && post.count_comments > 0"
              [routerLink]="['/admin/text/', post.id]"
              class="text-blue-600 font-bold overflow-hidden"
              title="Administrez les commentaires de ce post"
            >
              <ng-container *ngTemplateOutlet="postTitle"></ng-container>
            </a>
            <!-- If IMAGE Posts routelink to admin/image/:id-->
            <a
              *ngIf="post.image != null && post.count_comments > 0"
              [routerLink]="['/admin/image/', post.id]"
              class="text-blue-600 font-bold"
              title="Administrez les commentaires de ce post"
            >
              <ng-container *ngTemplateOutlet="postTitle"></ng-container>
            </a>
            <!-- If post has NO COMMENTS no need to redirect to comments admin -->
            <p *ngIf="post.count_comments === 0">
              <ng-container *ngTemplateOutlet="postTitle"></ng-container>
            </p>
          </td>
          <!-- AUTEUR -->
          <td class="px-4 py-2">{{ post.user.name }}</td>
          <!-- CRÉE LE -->
          <td class="px-4 py-2">{{ post.createdAt | date }}</td>
          <!-- NOMBRE DE COMMENTAIRES -->
          <td class="px-4 py-2 text-center">{{ post.count_comments }}</td>
          <!-- MODÉRÉ -->
          <td class="px-4 py-2 text-center">
            <input
              type="checkbox"
              id="{{ post.id }}"
              name="{{ post.id }}"
              (click)="onCheck(!post.moderated, 'posts', post.id)"
              [checked]="post.moderated"
            />
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination
      *ngIf="contentHasLoaded"
      [paginationType]="paginationType"
      (pageChange)="getPosts($event)"
    ></app-pagination>
  </section>
</main>
