/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

$success: #00a814;
$danger: #d40505;

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

// FORMS
input.ng-valid:not(.ng-pristine),
textarea.ng-valid:not(.ng-pristine) {
  border: 2px solid $success;
}

input.ng-invalid:not(.ng-pristine),
textarea.ng-invalid:not(.ng-pristine) {
  border: 2px solid $danger;
}

// COMPONENTS
.btn-info {
  @apply inline-flex
          items-center
          px-3
          py-2
          bg-blue-600
          rounded-lg
          text-center
          text-white
          hover:bg-blue-800
          focus:ring-4 focus:ring-blue-300;
}
