<article
  *ngFor="let comment of comments"
  id="{{ comment.id }}"
  class="
    p-6
    border border-gray-300
    odd:bg-gray-200
    first:rounded-t-xl
    last:rounded-b-xl
  "
>
  <span class="mr-4 text-blue-500 font-bold">{{ comment.user!.name }}</span>
  <time class="float-right text-gray-400">{{
    comment.createdAt | date: "medium"
  }}</time>
  <p class="mt-2">{{ comment.content }}</p>
</article>

<app-pagination
  *ngIf="contentHasLoaded"
  [paginationType]="paginationType"
  (pageChange)="getCommentsOfPost($event)"
></app-pagination>
